@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap");
* {
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-50 {
  flex-basis: 50%;
}

.flex-20 {
  flex-basis: 20%;
}

.flex-25 {
  flex-basis: 25%;
}

.flex-33 {
  flex-basis: 33.333%;
}

.wrapper80 {
  width: 80%;
  margin: 0 auto;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.liStyle li {
  list-style-type: none;
}

.colorGray {
  color: rgb(37, 36, 34);
}

.bgBlur {
  background: transparent;
  backdrop-filter: blur(10px);
}

.hovering {
  transition: transform 0.2s;
}

.hovering:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.bgColorGray {
  background-color: rgb(37, 36, 34);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.thumbnailPhoto {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
}
