html {
  background-color: #46627f;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #007dff;
  padding-bottom: 5%;
  padding-top: 3%;
}

.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoForm input {
  background-color: #007dff;
  border: 1px solid #46627f;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.2rem;
  padding: 0.6rem;
}

.todoForm button {
  color: white;
  border: 1px solid #003e7f;
  padding-top: 0.9rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #003e7f;
}

.todoForm button:hover {
  background-color: #4ca4ff;
  border: 1px solid #4ca4ff;
  transition: 1s ease;
}

.todoForm input::placeholder {
  color: white;
}

.header {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.todoList {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style-type: none;
}

.todoList input {
  font-size: 1.2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 38%;
  border-radius: 8px;
  border: 1px solid #46627f;
  background-color: #007dff;
}

.taskInput {
  color: white;
}

.list {
  position: relative;
}

.doneTaskBtn {
  position: absolute;
  font-size: 1.2rem;
  right: 44.7%;
}

.editTaskBtn {
  position: absolute;
  right: 42.5%;
}

.deleteTaskBtn {
  position: absolute;
  right: 40.5%;
}

.taskButtons {
  margin-bottom: 1rem;
}

.taskButtons i {
  cursor: pointer;
  color: #003e7f;
}

.task {
  color: white;
}

.complete {
  text-decoration: line-through red;
  color: #46627f;
}
